@import 'app/assets/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-[#131313];
}

body {
  @apply font-light text-base text-gray tracking-wider;
  font-family: 'Manrope', sans-serif;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: .2 !important;
}

.font-serif {
  font-family: 'Playfair Display', sans-serif;
}
